<footer>
  <div class="container horizontal-inset">

    {% if site.data.social %}
    {% assign social=site.data.social %}
    <section class="contact">
      <h2>Contact</h2>

      {% if social.github %}
      {% assign github=social.github %}
      <div>
        <a href="https://github.com/{{ github.organization | downcase }}">
          <svg>
            <use xlink:href="#github"/>
          </svg>
          <span>{{ github.organization }}</span>
        </a>
      </div>
      {% endif %}
      {% if social.twitter %}
      <div>
        <a href="https://twitter.com/{{ social.twitter | downcase }}">
          <svg>
            <use xlink:href="#twitter"/>
          </svg>
          <span>@{{ social.twitter }}</span>
        </a>
      </div>
      {% endif %}

      {% if social.mail %}
      <div>
        <a href="mailto:{{ social.mail }}">
          <svg>
              <use xlink:href="#mail"/>
          </svg>        
          <span>{{ social.mail }}</span>
        </a>
      </div>
      {% endif %}
    </section>
    {% endif %}

    {% if site.data.projectInfo.licence %}
    {% assign projectInfo=site.data.projectInfo %}
    <section class="licence">
      <h2>Licence</h2>

      <div>{{ projectInfo.name }} is released under <a href="{{ projectInfo.licence.link }}">{{ projectInfo.licence.name }} licence</a></div>

    </section>
    {% endif %}
  </div>
</footer>
