<footer>
  <div class="container">

    <section class="contact">
      <h2>Contact</h2>

      {% if site.github %}
      {% assign github=site.github %}
      <div>
        <a href="https://github.com/{{ github.organization | downcase }}">
          <svg>
            <use xlink:href="#github"/>
          </svg>
          <span>{{ github.organization }}</span>
        </a>
      </div>
      {% endif %}
      {% if site.twitter %}
      <div>
        <a href="https://twitter.com/{{ site.twitter | downcase }}">
          <svg>
            <use xlink:href="#twitter"/>
          </svg>
          <span>@{{ site.twitter }}</span>
        </a>
      </div>
      {% endif %}

      {% if site.mail %}
      <div>
        <a href="mailto:{{ site.mail }}">
          <svg>
              <use xlink:href="#mail"/>
          </svg>        
          <span>{{ site.mail }}</span>
        </a>
      </div>
      {% endif %}
    </section>

    <section class="licence">
      <h2>Licence</h2>

      <div>{{ site.title }} is released under <a href="http://opensource.org/licenses/MIT">MIT licence</a></div>

    </section>
  </div>
</footer>
