<header id="main-header">
  {% assign github=include.github %}
  {% assign githubRepoName=include.githubRepoName %}
  {% assign projectStatus=include.projectStatus %}
  {% assign logo=include.logo %}
  {% assign defaults=site.data.defaults %}

  <div class="container vertical-box horizontal-inset">
    <div class="horizontal-box justify-start">
      {% if logo.svgId and logo.svgId != empty %}
      <svg class="logo">
          <use xlink:href="#{{ logo.svgId }}"/>
      </svg>
      {% elsif logo.pngFile and logo.pngFile != empty %}
      <img class="logo" src="{{ defaults.imageAssets | append: logo.pngFile }}" />
      {% endif %}
      <div class="brand">
        {% assign brand=logo.brand %}
        <h1>{{ brand.name }}</h1>
        <p class="tagline">{{ brand.punchline }}</p>
      </div>
    </div>

    <div>
        {% if projectStatus %}
          {% include project_status.html status=projectStatus %}
        {% endif %}
    </div>

    {% if github && githubRepoName %} 
    {% assign githubURL = 'https://github.com/' | append: github.organization | downcase | append: '/' | append: githubRepoName | append: '/' %}
    <div id="downloads">
      {% if github.downloads %}
      <div class="downloads-item">
        <a href="{{ githubURL }}zipball/master" id="download-zip">
          <svg>
            <use xlink:href="#zip_archive"/>
          </svg>
          <span>Download .zip</span>
        </a>
      </div>
      <div class="downloads-item">
        <a href="{{ githubURL }}tarball/master" id="download-tar-gz">
          <svg>
            <use xlink:href="#tar_archive"/>
          </svg>
          <span>Download .tar.gz</span>
        </a>
      </div>
      {% endif %}
      <div class="downloads-item">
        <a href="{{ githubURL }}" id="view-on-github">
          <svg>
            <use xlink:href="#github"/>
          </svg>
          <span>View on GitHub</span>
        </a>
      </div>
    </div>
    {% endif %} 
  </div>
</header>