<span class="project-status horizontal-box justify-end">
  {% assign status=include.status %}

  {% if status.podName %}
    <a href="http://cocoapods.org/pods/{{ status.podName }}">
      <img src="https://img.shields.io/cocoapods/v/{{ status.podName }}.svg" alt="Cocoapods Version">
    </a>
  {% endif %}
  {% if status.supportsCarthage %}
    <a href="https://github.com/Carthage/Carthage">
      <img src="https://img.shields.io/badge/carthage-compatible-green.svg" alt="Carthage" />
    </a>
  {% endif %}
</span>
