.container {
  @include container;
}

.vertical-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.horizontal-box {
  display: flex;
  flex-direction: row;
  justify-content: center;

  > * {
    margin: 0 4px 0 4px;
  }
}