@import "susy/sass/susy";
@import "normalize";
@import "settings";
@import "colors";
@import "variables";
@import "fonts";
@import "base";
@import "states";
@import "layout";
@import "header";
@import "footer";
@import "syntax";

html, body {
  height: 100%;
}

body, #wrapper {
  min-height: 100%;
}

#wrapper {
  display: flex; 
  flex-direction: column;
}

#body {
  flex: 1;
}

#intro {
  background-color: $c-accent;
  color: $c-text;
  padding: 1vh 0 1vh 0;
  margin-bottom: 2vh;

  a {
    color: $c-theme;
    &:hover {
      color: $c-text;
    }
  }
}

#downloads {
  @include susy-clearfix;
  margin-top: 5vh;

  > div {
    @include span(4);
  }
}

.content {
  section {
    padding-bottom: 2em;
    border-bottom: 1px solid $c-theme;

    &:last-child {
      border-bottom: none;
    }
  }
}